@font-face {
  font-family: "PN Extra Bold";
  src: url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.eot") format('eot'),
  url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.woff") format('woff'),
  url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PN Regular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot") format('eot'),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format('woff'),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PN Semibold";
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot") format('eot'),
  url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff") format('woff'),
  url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora Bold";
  src: url("../fonts/LoraBold/LoraBold.eot") format('eot'),
  url("../fonts/LoraBold/LoraBold.woff") format('woff'),
  url("../fonts/LoraBold/LoraBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora Bold Italic";
  src: url("../fonts/LoraBoldItalic/LoraBoldItalic.eot") format('eot'),
  url("../fonts/LoraBoldItalic/LoraBoldItalic.woff") format('woff'),
  url("../fonts/LoraBoldItalic/LoraBoldItalic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora Regular";
  src: url("../fonts/LoraRegular/LoraRegular.eot") format('eot'),
  url("../fonts/LoraRegular/LoraRegular.woff") format('woff'),
  url("../fonts/LoraRegular/LoraRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
